<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="true">
  <php>
	  <const name="MYSQL_DSN" value="mysql:host=localhost;dbname=ssql_test"/>
	  <const name="MYSQL_USER" value="root"/>
	  <const name="MYSQL_PASSWORD" value="admin"/>
	  <const name="PGSQL_DSN" value="pgsql:host=localhost;dbname=ssql_test"/>
	  <const name="PGSQL_USER" value="postgres"/>
	  <const name="PGSQL_PASSWORD" value="postgres"/>
      <const name="PGSQL_SCHEMA" value="public"/>
	  <const name="SQLITE_DSN" value="sqlite:./db/testdb.sqlite3"/>
  </php>
  <testsuite name="SSql">
    <directory>.</directory>
  </testsuite>
</phpunit>
